<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Our Stores</title>
  <script src="/script.js" defer></script>
  <link href="/style.css" rel="stylesheet">
  <link rel="shortcut icon" href="/images/icon.jpg">
</head>

<body>
  <!-- <iframe width="0" height="0" src="https://www.youtube.com/embed/gwWe_SYRQNQ?si=T-PxgX5wzkI1UpZF&autoplay=1"
    title="YouTube video player" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
  </iframe> -->

  <header class="main-header">
    <a href="/stores">
      <img src="/images/icon.jpg" alt="Company Icon">
    </a>
    <h1>Doofenshmirtz Evil Incorporated</h1>
  </header>
  
  <div class="module-box">

    <div class="module-header" style="padding: 5px;">
      <div id = "stores-filters" style="width: 90%;">
        <button class = 'dropbtn' onclick="showSlide(0)">Store Info</button>
        <button class = 'dropbtn' onclick="showSlide(1)">Adress</button>
        <button class = 'dropbtn' onclick="showSlide(2)">Social</button>
        <button class = 'dropbtn' onclick="showSlide(3)">Staff</button>
        <button class = 'dropbtn' onclick="showSlide(4)">History</button>
      </div>
    </div>
  
    <div class="content-box">
      <div class="form-carousel" id="form-carousel">
        <div class="carousel-form-item">
          <div class="container">
            <header>New store</header>
            <form action="#">
              <div class="form first">
                <div class="details personal">
                  <div class="fields">
                    <div class="input-field">
                      <label>CNPJ</label>
                      <input type="number" placeholder="Enter your CNPJ" required>
                    </div>
                    <div class="input-field">
                      <label>State inscription</label>
                      <input type="number" placeholder="Enter your State inscription" required>
                    </div>
                    <div class="input-field">
                      <label>Delivery Point</label>
                      <select required>
                        <option disabled selected>Is a Delivery Point?</option>
                        <option>Yes</option>
                        <option>No</option>
                      </select>
                    </div>
                    <div class="input-field" id="input-name">
                      <label>Name</label>
                      <input type="text" placeholder="Store Name" required>
                    </div>
                    <div class="input-field" id="input-name">
                      <label>Social Name</label>
                      <input type="text" placeholder="Store Social Name" required>
                    </div>
                    <div class="input-field">
                      <label>Inaugurated At</label>
                      <input type="date" placeholder="Inauguration Date" required>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="carousel-form-item">
        </div>
        <div class="carousel-form-item">
        </div>
        <div class="carousel-form-item">
        </div>
        <div class="carousel-form-item">
        </div>
      </div>
      <div class="carousel-controls">
        <button id="prev"onclick="moveSlide(-1)">Previous</button>
        <button id="next"onclick="moveSlide(1)">Next</button>
      </div>
    </div>

  </div>

</body>
</html>

<!-- 
<div id="store-details"></div>

<script>
  async function fetchStoreData() {
    const storeId = window.location.pathname.split('/').pop();
    const response = await fetch(`/api/stores/${storeId}`);
    const store = await response.json();
    document.getElementById('store-details').innerHTML = `
      <h1>${store.name}</h1>
      <p>Status: ${store.status}</p>
      <p>CNPJ: ${store.cnpj}</p>
      <p>State Inscription: ${store.state_inscription}</p>
      <p>Company Name: ${store.name_company}</p>
      <p>Delivery Point: ${store.delivery_point}</p>
      <p>Inaugurated At: ${store.inaugurated_at}</p>
      <p>Closured At: ${store.closured_at}</p>
      <p>Created At: ${store.created_at}</p>
      <p>Updated At: ${store.updated_at}</p>
    `;
  }

  fetchStoreData();
</script> -->