<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Our Stores</title>
  <script src="/script.js" defer></script>
  <link href="/style.css" rel="stylesheet">
  <!-- <script src="/templates/script.js" defer></script>
  <link href="/templates/style.css" rel="stylesheet" /> -->
  <link rel="icon" href="/images/icon.jpg">
</head>

<body>
  <!-- <iframe width="0" height="0" src="https://www.youtube.com/embed/gwWe_SYRQNQ?si=T-PxgX5wzkI1UpZF&autoplay=1"
    title="YouTube video player" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
  </iframe> -->

  <header class="main-header">
    <img src="/images/icon.jpg" alt="Company Icon">
    <h1>Doofenshmirtz Evil Incorporated</h1>
  </header>

  <div class="module-box">
    <div class="module-header">
      <h1 id="module-name">Stores Information</h1>
        <div id = "stores-filters">
          <div class="dropdown">
            <button onclick="myFunction()" class="dropbtn">Name</button>
            <div id="myDropdown" class="dropdown-content">
              <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">

            </div>
          </div>          
        </div>
      <button id="new-store-btn">+ Add New Store</button>
    </div>
    
    <div class="modal hidden">
      <button class="close-modal">&times;</button>
      <h1>New Store</h1>
      <div class="form-container">
        <div class="form-group">
          <label for="cnpj">CNPJ</label>
          <input type="text" id="cnpj" placeholder="">
        </div>
        <div class="form-group">
          <label for="state-inscription">State Inscription</label>
          <input type="text" id="state-inscription" placeholder="">
        </div>
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" id="name" placeholder="">
        </div>
        <div class="form-group">
          <label for="delivery-point">Delivery Point</label>
          <input type="checkbox" id="delivery-point">
        </div>
        <div class="form-group">
          <label for="social-name">Social Name</label>
          <input type="text" id="social-name" placeholder="">
        </div>
        <div class="form-group">
          <label for="inaugurated-at">Inaugurated At</label>
          <input type="text" id="inaugurated-at" placeholder="">
        </div>
        <button>Finish</button>
      </div>
    </div>
    <div class="overlay hidden"></div>

    <div class="content-box">
      <div class="carousel-container">
        <div class="carousel">
          <div class="carousel-page">
            <table id="dataTable">
              <thead>
                <tr id = 'table-title'>
                  <th>Id</th>
                  <th>Status</th>
                  <th>CNPJ</th>
                  <th>State Inscription</th>
                  <th>Name</th>
                  <th>Social Name</th>
                  <th>Delivery Point</th>
                  <th>Inaugurated At</th>
                  <th>Closed At</th>
                  <th>Last Update</th>
                </tr>
              </thead>
              <tbody>
                <!-- Table rows will be dynamically inserted here -->
              </tbody>
            </table>
          </div>
        </div>
        <div class="carousel-controls">
          <button id="prevButton">Previous</button>
          <button id="nextButton">Next</button>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
