<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Our Stores</title>
  <script src="/script.js" defer></script>
  <link href="/style.css" rel="stylesheet">
  <link rel="icon" href="/images/icon.jpg">
</head>

<body>
  <!-- <iframe width="0" height="0" src="https://www.youtube.com/embed/gwWe_SYRQNQ?si=T-PxgX5wzkI1UpZF&autoplay=1"
    title="YouTube video player" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
  </iframe> -->

  <header class="main-header">
    <a href="/stores">
      <img src="/images/icon.jpg" alt="Company Icon">
    </a>
    <h1>Doofenshmirtz Evil Incorporated</h1>
  </header>

  <div class="module-box">
    <div class="module-header">
      <h1 id="module-name">Stores Information</h1>
        
        <div id = "stores-filters">
          <h1>Filters</h1>
          <div class="dropdown">
            <button onclick="dropdown('store-cnpj')" class="dropbtn">Store CNPJ</button>
            <div id="store-cnpj" class="dropdown-content">
              <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction('store-cnpj')">
            </div>
          </div>

          <div class="dropdown">
            <button onclick="dropdown('store-name')" class="dropbtn">Store Name</button>
            <div id="store-name" class="dropdown-content">
              <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction('store-name')">
            </div>
          </div>

          <div class="dropdown">
            <button onclick="dropdown('store-status')" class="dropbtn">Store Status</button>
            <div id="store-status" class="dropdown-content">
              <a href="#True">Active</a>
              <a href="#False">Inactive</a>
            </div>
          </div>

        </div>
      <button id="new-store-btn">+ Add New Store</button>
    </div>
    
    <div class="modal hidden">
      <button class="close-modal">&times;</button>
      <div class="container">
        <header>New store</header>
        <form action="#">
          <div class="form first">
            <div class="details personal">
              <div class="fields">
                <div class="input-field">
                  <label>CNPJ</label>
                  <input type="number" placeholder="Enter your CNPJ" required>
                </div>
                <div class="input-field">
                  <label>State inscription</label>
                  <input type="number" placeholder="Enter your State inscription" required>
                </div>
                <div class="input-field">
                  <label>Delivery Point</label>
                  <select required>
                    <option disabled selected>Is a Delivery Point?</option>
                    <option>Yes</option>
                    <option>No</option>
                  </select>
                </div>
                <div class="input-field" id="input-name">
                  <label>Name</label>
                  <input type="text" placeholder="Store Name" required>
                </div>
                <div class="input-field" id="input-name">
                  <label>Social Name</label>
                  <input type="text" placeholder="Store Social Name" required>
                </div>
                <div class="input-field">
                  <label>Inaugurated At</label>
                  <input type="date" placeholder="Inauguration Date" required>
                </div>
              </div>
            </div>
            <button class="nextBtn">
              <span class="btnText">Next</span>
              <i class="uil uil-navigator"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="overlay hidden"></div>
    

    <div class="content-box">
      <div class="carousel-container">
        <div class="carousel">
          <div class="carousel-page">
            <table id="dataTable">
              <thead>
                <tr id='table-title'>
                  <th>Id</th>
                  <th>Status</th>
                  <th>CNPJ</th>
                  <th>State Inscription</th>
                  <th>Name</th>
                  <th>Social Name</th>
                  <th>Delivery Point</th>
                  <th>Inaugurated At</th>
                  <th>Closed At</th>
                  <th>Last Update</th>
                </tr>
              </thead>
              
              <tbody id = 'table-content'>
                <!-- Table rows will be dynamically inserted here -->
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="carousel-controls">
        <button id="prevButton">Previous</button>
        <button id="nextButton">Next</button>
      </div>
    </div>
  </div>
</body>
</html>

 