<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Our Stores</title>
  <script src="/script.js" defer></script>
  <link href="/style.css" rel="stylesheet" />
  <link rel="shortcut icon" href="/images/icon.jpg">
</head>

<body>
  <!-- <iframe width="0" height="0" src="https://www.youtube.com/embed/gwWe_SYRQNQ?si=T-PxgX5wzkI1UpZF&autoplay=1"
    title="YouTube video player" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
  </iframe> -->

  <header class="main-header">
      <img src="/images/icon.jpg">
      <text>Doofenshmirtz Evil Incorporated</text>
  </header>

  <div class="module-box">
    
    <div class="module-header">
      <div id="module-name">
        <h1>Stores Information</h1>
      </div>
      <div id="new-store-btn">
        <button>+ Add New Store</button>
      </div>
    </div>
    
  <div class="modal hidden">
    <button class="close-modal">&times;</button>
    <h1>Add New Store</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
      occaecat cupidatat non proident, sunt in culpa qui officia deserunt
      mollit anim id est laborum.
    </p>
  </div>
  <div class="overlay hidden"></div>
    
    <div class="content-box">
      <table>
        <tr id = 'table-title'>
          <th>Id</th>
          <th>Status</th>
          <th>Cnpj</th>
          <th>State inscription</th>
          <th>Name</th>
          <th>Social Name</th>
          <th>Delivery Point</th>
          <th>Inaugurated At</th>
          <th>Closured At</th>
          <th>Last Update</th>
        </tr>
        <tr>
          <td>Id</td>
          <td><input type="checkbox"></td>
          <td>Cnpj</td>
          <td>State inscription</td>
          <td>Name</td>
          <td>Social Name</td>
          <td>Delivery Point</td>
          <td>Inaugurated At</td>
          <td>Closured At</td>
          <td>Last Update</td>
        </tr>
      </tr>
      <tr>
        <td>Id</td>
        <td><input type="checkbox"></td>
        <td>Cnpj</td>
        <td>State inscription</td>
        <td>Name</td>
        <td>Social Name</td>
        <td>Delivery Point</td>
        <td>Inaugurated At</td>
        <td>Closured At</td>
        <td>Last Update</td>
      </tr>
      </table>
    </div>
  </div>  
</body>
</html>