<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Our Stores</title>
  <script src="/script.js" defer></script>
  <link href="/style.css" rel="stylesheet" />
  <link rel="shortcut icon" href="/images/icon.jpg">
</head>

<body>
  <!-- <iframe width="0" height="0" src="https://www.youtube.com/embed/gwWe_SYRQNQ?si=T-PxgX5wzkI1UpZF&autoplay=1"
    title="YouTube video player" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
  </iframe> -->

  <header class="main-header">
      <img src="/images/icon.jpg">
      <text>Doofenshmirtz Evil Incorporated</text>
  </header>

  <div class="module-box">
    <div class="module-header">
      <div id="module-name">
        <h1>Stores Information</h1>
      </div>
      <div id="new-store-btn">
        <button>+ Add New Store</button>
      </div>
  </div>
    
  <div class="modal hidden">
    <button class="close-modal">&times;</button>
    <h1>New Store</h1>
    <div class="form-container">
      <div class="form-group">
          <p class="store-form">CNPJ</p>
          <input type="text" placeholder=""/>
      </div>
      <div class="form-group">
          <p class="store-form">State inscription</p>
          <input type="text" placeholder=""/>
      </div>
      <div class="form-group">
          <p class="store-form">Name</p>
          <input type="text" placeholder=""/>
      </div>
      <div class="form-group">
        <p class="store-form">Social Name</p>
        <input type="text" placeholder=""/>
      </div>
      <div class="form-group">
        <p class="store-form">Delivery Point</p>
        <input type="checkbox" placeholder=""/>
      </div>
      <div class="form-group">
          <p class="store-form">Inaugurated At</p>
          <input type="text" placeholder=""/>
      </div>
    </div>
    <button>Finish</button>
  </div>
  <div class="overlay hidden"></div>


    <div class="content-box">
      <table>
        <tr id = 'table-title'>
          <th>Id</th>
          <th>Status</th>
          <th>Cnpj</th>
          <th>State inscription</th>
          <th>Name</th>
          <th>Social Name</th>
          <th>Delivery Point</th>
          <th>Inaugurated At</th>
          <th>Closured At</th>
          <th>Last Update</th>
        </tr>
        <tr>
          <td>Id</td>
          <td><input type="checkbox"></td>
          <td>Cnpj</td>
          <td>State inscription</td>
          <td>Name</td>
          <td>Social Name</td>
          <td>Delivery Point</td>
          <td>Inaugurated At</td>
          <td>Closured At</td>
          <td>Last Update</td>
        </tr>
      </tr>
      <tr>
        <td>Id</td>
        <td><input type="checkbox"></td>
        <td>Cnpj</td>
        <td>State inscription</td>
        <td>Name</td>
        <td>Social Name</td>
        <td>Delivery Point</td>
        <td>Inaugurated At</td>
        <td>Closured At</td>
        <td>Last Update</td>
      </tr>
      </table>
    </div>
  </div>  
</body>
</html>